html {
    scroll-behavior: smooth;
  }
  
  body {
    background-color: #E4FFFE;
    font-size: 1.5rem;
    font-family: libre franklin;
    font-weight: 100;
    background-color: #D7F1FA;
    color: #4d4d4d;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: black;
}

.main {
    background-color: #D7F1FA;
}

.video-background {
    position: absolute;
    margin: 0 px;
    top: 0;
    left: -260vh;
    min-width: 360vw;
    min-height: 160vh;
    z-index: -1;
    object-fit: cover;
}

.video-background iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    pointer-events: none; 
    transform: translate(-50%, -50%);
    object-fit: cover;
}

.section--one {
    display: flex;
}

.section--two {
    display: flex;
    gap: 300px;
}

.section--two img {
    width: 400px;
    margin-right: 0;
}

.section--three {
    display: flex;
    gap: 300px;
}

.section--three img {
    width: 400px;
}

.section--four {
    display: flex;
    gap: 150px;
}

.section--four img {
    width: 500px;
    margin-right: 0;
    margin-top: 100px;
}

.image--one {
    width: 370px;
    margin-left: 0;
    flex: 1;
    margin-top: 80px;
}

.paragraph {
    flex: 2;
    margin-left: 350px;
    margin-right: 200px;
    margin-top: 100px;
    font-size: 25px;
}

.button--down {
    background-color: transparent;
    border: .5px solid black;
    border-radius: 0.5rem;
    width: 30px;
    padding: 6px;
    padding-top: 4px;
    text-align: center;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

.open--one {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 35px;
    padding-top: 25px;
    border: .5px solid black;
    border-radius: 1rem;
    width: 500px;
    margin-left: 200px;
    flex-wrap: nowrap;
    padding-bottom: 0;
    height: 350px;

}

.open--two {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 35px;
    padding-top: 25px;
    border: .5px solid black;
    border-radius: 1rem;
    width: 500px;
    margin-right: 200px;
    margin-top: 100px;
    flex-wrap: nowrap;
    padding-bottom: 0;
    height: 350px;

}

.open--three {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 35px;
    padding-top: 20px;
    border: .5px solid black;
    border-radius: 1rem;
    width: 900px;
    margin-left: 200px;
    margin-top: 100px;
    flex-wrap: nowrap;
    padding-bottom: 0;
    height: 320px;
}

.headline {
    font-size: 18px;
    margin-bottom: 0;
    font-weight: 400;
}

.text {
    font-size: 38px;
    margin-top: 0;
}

.buttons {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 1px;
}

.button--right {
    background-color: #1E1E1E;
    border: .5px solid black;
    border-radius: 0.5rem;
    width: 30px;
    padding: 6px;
    padding-top: 4px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.button--work {
    background-color: #1E1E1E;
    color: white;
    font-size: 13px;
    border: .5px solid black;
    border-radius: 0.5rem;
    padding: 6px;
    padding-top: 4px;
    width: 140px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button--w {
    background-color: #1E1E1E;
    color: white;
    font-size: 13px;
    border: .5px solid black;
    border-radius: 0.5rem;
    padding: 6px;
    padding-top: 4px;
    width: 120px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-final {
    background-color: transparent;
    border: .5px solid black;
    border-radius: 0.5rem;
    width: 30px;
    padding: 6px;
    padding-top: 0;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 40px;
}

.read {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 170px;
}

.read-label {
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 50px;
}

.button-final-2 {
    background-color: transparent;
    border: .5px solid black;
    border-radius: 0.5rem;
    width: 30px;
    padding: 6px;
    padding-top: 0;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 40px;
}

.read-2 {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 140px;
}

.read-label-2 {
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 50px;
}


.button-final-3 {
    background-color: transparent;
    border: .5px solid black;
    border-radius: 0.5rem;
    width: 30px;
    padding: 6px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 40px;
    height: 30px;
}

.read-3 {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 100px;
    height: 10px;
}

.smile {
    font-weight: 400;
    margin-bottom: 50px;
    font-size: 12px !important;
}


.button-final-n {
    background-color: transparent;
    border: .5px solid black;
    border-radius: 0.5rem;
    width: 30px;
    padding: 6px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 40px;
}

.read-n {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: -50px;
    justify-content: flex-end;
    margin-right: 185px;

}

.read-label-n {
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 50px;
}


i {
    font-size: 18px;
}

.top {
    flex: 1;
}

.bottom {
    display: flex;
}

.blank {
    flex: 1;
    padding: 30px;
}

.info {
    flex: 3;
    padding-top: 150px;
    padding-left: 100px;
    padding-bottom: 10px;
    padding-right: 0;
    font-size: 25px;
    text-align: left;
}

.info p {
    margin-left: 200px;
}

.welcome, .blank, .info {
    border: 0.5px solid black;
    border-radius: 1rem;
}

.welcome {
    padding-left: 40px;
    font-size: 50px;
}

.screenshot {
    max-width: 100%;
    border: 1px solid black;
}

.logo-grid {
    display: grid;
    grid-template-columns: 1fr 3.5fr 2fr;
    text-align: center;
    align-items: center;
    border-collapse: collapse;
    width: 230px;
    margin: 15px;
    font-size: 21px;
    font-weight: 400;
}

.item1, .item2, .item3 {
    border: 1px solid black;
    border-radius: 0.25rem;
}

.logo {
    display: flex;
    max-width: 25px;
    align-items: center;
    justify-content: center;
    margin: 5px;
}

.item2, .item3 {
    padding: 5px
}

.nav-right ul {
    text-transform: uppercase;
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 840px;
    font-size: 11px;
    text-align: center;
    margin: 15px;
}

.nav-right li {
    display: flex;
    border: 0.5px solid black;
    border-radius: 0.5rem;
    justify-content: center;
    align-items: center;
    padding-left: 30px auto;
    padding-right: 30px auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.grid {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 180px;
    margin-right: 180px;
    margin-top: -50px;
    margin-bottom: 100px;
}

.item {
    border: .5px solid black;
    border-collapse: collapse;
    border-radius: 1rem;
}

.item ul {
    display: flex;
    gap: 35px;
    list-style-type: disc;
    border: none;
    font-size: 12px;
    font-weight: 400;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 10px;
    margin-bottom: -10px;
}

.item li {
    list-style-type: disc;
}

.item-1 {
    grid-column: span 3;
    padding-bottom: 0;
    font-size: 50px;
    padding-top: 30px;
    padding-left: 30px;
    height: 90px;
}

.item-2, .item-3, .item-4 {
    height: 400px;
    margin-top: -170px;
    padding: 30px;
}

.item-2, .item-3, .item-4 p {
    font-size: 30px;
}

.hero {
    margin-left: 180px;
    margin-right: 180px;
    margin-top: 70px;
}

.five-img {
    z-index: -1;
    width: 500px;
    margin-top: 0px;
    position: absolute;
}

.container {
    background-color: #304957;
    padding: 20px;
    border-radius: 1rem;
    margin-left: 20px;
    margin-right: 20px;
}

.footer-grid {
    color: white;
    border-collapse: collapse;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-flow: dense;
}

.itemm {
    border: .5px solid white;
    border-radius: 1rem;
}

.itemm1 {
    grid-column: span 1;
    grid-row: span 3;
}

.itemm4 {
    grid-column-start: 2;
}

.itemm5 {
    grid-column-start: 3;
}

.itemm6 {
    grid-column-start: 2;
}

.itemm7 {
    grid-column-start: 3;
}

.itemm8 {
    grid-column-start: 4;
    grid-row-start: 1;
    grid-row: span 3;
}

.itemm9 {
    grid-column-start: 5;
    grid-row-start: 1;
    grid-row: span 3;
}