<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">   
    <script src="https://kit.fontawesome.com/8a0fb6865d.js" crossorigin="anonymous"></script>
    <title>COMPONENTS: Isomorphic Labs Case Study</title>
</head>
<body>
    <p>Welcome to Iso's Components page!</p>
    <p>image</p>
    <img src="ss2.png" alt="original website screenshot" class="components--img">
    <p>code</p>
    </div>
    <header class="nav">
        <div class="logo-grid">
            <div class="item1"><a href="#"><img src="logo.png" class=logo alt="company logo"></a></div>
            <div class="item2"><a href="#">Isomorphic</a></div>
            <div class="item3"><a href="#">Labs</a></div>
        </div>
        <nav class="nav-right">
            <ul>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Our Approach</a></li>
                <li><a href="#">Life at Iso</a></li>
                <li><a href="#">Work With Us</a></li>
                <li><a href="#">News</a></li>
            </ul>
        </nav>
    </header>
    <p>image</p>
    <img src="ss3.png" alt="original website screenshot" class="components--img">
    <p>code</p>
    <section class="hero">
        <div class="welcome">
            <p>Welcome to <br> Isomorphic Labs</p>
        </div>
        <div class="bottom">
            <div class="blank"></div>
            <div class="info">
            <p>We're a digital biology company,<br> here to redefine drug discovery with<br> the power of artificial intelligence.</p>
            </div>
        </div>
    </section>
    <div class="button button--down">
        <i class="fa-solid fa-arrow-down"></i>
    </div>
    <p>image</p>
    <img src="ss4.png" alt="original website screenshot" class="components--img">
    <p>code</p>
    <div class="section section--one">
        <img src="one.png" alt="background image" class="image image--one">
        <p class="paragraph">We believe there’s a fundamental symmetry in the universe between biology and information science. And we’re building the team, and the platform, that will find it.
‍               <br> <br>
        This is the beginning of a journey with a great deal of promise for health and human progress. We’re glad you’re here – let’s get to work.</p>
    </div>
    <p>image</p>
    <img src="ss5.png" alt="original website screenshot" class="components--img">
    <p>code</p>
    <div class="section section--two">
        <div class="open open--one">
            <p class="headline">OUR GOAL</p> <br>
            <p class="text">We’re using machine learning to transform drug discovery.</p>
            <div class="buttons">
                <div class="button2 button--right">
                    <i class="fa-solid fa-arrow-right" style="color: #ffffff;"></i>
                </div>
                <div class="button2 button--work">WORK WITH US</div>
            </div>
        </div>
        <img src="two.png" alt="backgrond image" clas="image image--two">
    </div>
    <p>image</p>
    <img src="ss6.png" alt="original website screenshot" class="components--img">
    <p>code</p>
    <div class="section section--three">
        <img src="three.png" alt="backgrond image" clas="image image--two">
        <div class="open open--two">
            <p class="headline">OUR HERITAGE</p> <br>
            <p class="text">DeepMind and AlphaFold broke new ground. Iso is building on it.</p>
            <div class="buttons">
                <div class="button2 button--right">
                    <i class="fa-solid fa-arrow-right" style="color: #ffffff;"></i>
                </div>
                <div class="button2 button--work">OUR APPROACH</div>
            </div>
        </div>
    </div>
    <p>image</p>
    <img src="ss7.png" alt="original website screenshot" class="components--img">
    <p>code</p>
    <div class="section section--four">
        <div class="open open--three">
            <p class="headline">OUR CULTURE</p> <br>
            <p class="text">Learn what it’s like to work here.</p>
            <div class="buttons">
                <div class="button2 button--right">
                    <i class="fa-solid fa-arrow-right" style="color: #ffffff;"></i>
                </div>
                <div class="button2 button--w">LIFE AT ISO</div>
            </div>
        </div>
        <img src="four.png" alt="backgrond image" clas="image image--two">
    </div>
    <p>image</p>
    <img src="ss8.png" alt="original website screenshot" class="components--img">
    <p>code</p>
    <div class="grid">
        <div class="item item-1">Latest from Iso</div>
        <div class="item item-2">
            <ul>
                <li>BLOG</li>
                <li>30.7.2024</li>
                <li>BY PASCAL SAVY</li>
            </ul>
            <p>Using our state-of-the-art AI models to power drug design</p>
            <div class="read">
                <div class="button button-final"><i class="fa-solid fa-arrow-right"></i></div>
                <p class="read-label">READ MORE</p>
            </div>
        </div>
        <div class="item item-3">
            <ul>
                <li>BLOG</li>
                <li>8.5.2024</li>
                <li>BY MAX JADERBERG, ADRIAN STECULA, PASCAL SAVY</li>
            </ul>
            <p>Rational drug design with AlphaFold 3</p>
            <div class="read-2">
                <div class="button button-final-2"><i class="fa-solid fa-arrow-right"></i></div>
                <p class="read-label-2">READ MORE</p>
            </div>
        </div>
        <div class="item item-4">
            <ul>
                <li>BLOG</li>
                <li>8.5.2024</li>
                <li>BY ISOMORPHIC LABS AND THE GOOGLE DEEPMIND ALPHAFOLD TEAM</li>
            </ul>
            <p>AlphaFold 3 predicts the structure and interactions of all of life’s molecules</p>
            <div class="read-3">
                <div class="button button-final-3"><i class="fa-solid fa-arrow-right"></i></div>
                <p class="smile">READ MORE</p>
            </div>
        </div>
    </div>
    <div class="read-n">
        <div class="button button-final-n"><i class="fa-solid fa-arrow-right"></i></div>
        <p class="read-label-n">GO TO NEWS INDEX</p>
    </div>
    <p>image</p>
    <img src="ss9.png" alt="original website screenshot" class="components--img">
    <p>code</p>
    <img src="five.png" alt="background image" class="five-img">
    <footer>
        <div class="container">
            <div class="logo-grid-2">
                <div class="item1-2"><a href="nav.html"><img src="white.png" class=logo-2 alt="company logo"></a></div>
                <div class="item2-2"><a href="nav.html">Isomorphic</a></div>
                <div class="item3-2"><a href="nav.html">Labs</a></div>
            </div>
            <div class="footer-grid">
                <div class="itemm itemm1">© 2022 ISOMORPHIC LABS</div>
                <div class="itemm itemm2">HOME</div>
                <div class="itemm itemm3">ABOUT US</div>
                <div class="itemm itemm4">OUR APPROACH</div>
                <div class="itemm itemm5">LIFE AT ISO</div>
                <div class="itemm itemm6">WORK WITH US</div>
                <div class="itemm itemm7">NEWS</div>
                <div class="itemm itemm8">
                    <p>CONTACT US</p>
                    <p class="text-3">press@isomorphiclabs</p>
                    <p>connecting@isomorphiclabs</p>
                </div>
                <div class="itemm itemm9">
                    <p>INFO</p>
                    <p class="text-4">Privacy Policy</p>
                    <p>Cookie Policy</p>
                    <p>Terms & Conditions</p>
                    <p>Supplier Code of Conduct</p>
                    <p>ABC</p>
                </div>
            </div>
        </div>
    </footer>
    <button class="fixed-button">COOKIE PREFERENCES</button>
</body>
</html>